body{
    background-color: #F0DBDB;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #B2B2B2;
    border-width: 10px;
    width: 5%;
}

h2{
    color: #66BFBF;
}

td {
    padding:5px
 
}